{% extends "../template.html" %}

{% block title %}
    Login
{% endblock  %}

{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <div class="form_group">
                {% if form.error_messages%}
                    <div class="alert alert-danger alert-dismissible">
                        <button 
                        type="button" 
                        class="close" 
                        data-dismiss="alert" 
                        aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                    </button>
                    <strong>Error</strong> {{form.get_invalid_login_error}}
                    </div>
                {% endif %}
                <label for="username"></label>
                {{form.username}}
            </div>
            <div class="form_group">
                <label for="password"></label>
                {{form.password}}
            </div>

            <button type="submit">Login baby</button>
        </form>
    </div>
{% endblock  %}